@{
    ViewData["Title"] = "Home Page";
}

@TempData["error_msg"]
@TempData["succ_msg"]

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    <li><a href="@Url.Action("UserList","Home")">User List</a></li>
    <li><a href="@Url.Action("CurrentOpenings","Home")">Current Openings</a></li>
    <li><a href="@Url.Action("Register","UserAccount")">Register</a></li>
    <li><a href="@Url.Action("Login","UserAccount")">Login</a></li>
    <li><a href="@Url.Action("AddAdvertisement","Admin")">Add Advertisement</a></li>
</ul>



